torch
transformers

Pillow
jsonlines
cairosvg
langchain
langchain-anthropic
langchain-openai
lxml
beautifulsoup4


############
# Optional #
############

# For exporting frames
selenium
ffmpeg-python
PyMuPDF

# For evaluation metrics
ftfy
einops
opencv-python
timm
icecream